@charset "utf-8";

// import variables and mixins from the plugin
@import "../../node_modules/@mulekick/ocr-data-table-plugin/dist/scss/variables.scss";
@import "../../node_modules/@mulekick/ocr-data-table-plugin/dist/scss/mixins.scss";

// import datepicker styles
@import "../../node_modules/react-datepicker/src/stylesheets/datepicker.scss";

body {
    width: 1240px;
    // remove default margin
    margin: 0 calc((100% - 1240px) / 2);

    // enable vertical scrolling when footer overlays page contents ...
    > #root > div:first-of-type {
        margin-bottom: 100px;
    }
}

/* ========== GENERAL STYLES ========== */

header {
    // content layout management
    @include flex($align: center, $justify: center);
    @include box($width: 100%);

    h1 {
        // content layout management
        @include flex($direction: row, $align: center);
        @include box();
        > a {
            // style overrides
            font-size: $font_xlarge;
            font-family: 'Fredoka One', cursive;
            text-decoration: none;
            color: unset;
        }
    }

    nav {
        width: 100%;

        ul {
            // content layout management
            @include flex($direction: row, $align: center, $justify: flex-start);
            @include box($padding: unset);
            // style overrides
            list-style-type: none;
            padding-left: 0;
            margin: 0px;
            // ul elements
            a {
                @include box($width: inherit, $padding: 15px 30px 15px 0);
                @include span();
                // style overrides
                text-decoration: none;
                // pseudo styles
                &:hover, &:active {
                    text-decoration: underline;
                }
            }
        }
    }
}

main {
    // content layout management
    @include flex($align: flex-start, $justify: flex-start);
    @include box($width: 100%, $backcolor: whitesmoke);
}

footer {
    @include flex();
    @include box($width: 1240px, $height: 100px, $backcolor: #000000, $radius: unset);
    @include span($margin: 0px, $color: $color_font_secondary);

    // style overrides
    position: fixed;
    z-index: 1;
    bottom: 0;
}

/* ======= PAGE SPECIFIC STYLES ======= */

// employees list
// (moved to plugin)

// new employee form
form {
    @include flex($direction: row, $align: flex-start, $justify: space-between);
    @include box($width: 100%, $height: 100%, $padding: unset, $backcolor: inherit);

    // form section
    .form-fields {
        @include flex($align: flex-start);
        @include box($width: 100%);

        // align fields and labels
        > div {
            @include flex($align: flex-start);
        }
    }

    > div:nth-of-type(1) {
        // styles overrides
        width: calc(50% - 7.5px);
        border: 2px groove rgb(192, 192, 192);
    }

    > div:nth-of-type(2) {
        // styles overrides
        width: calc(50% - 7.5px);
        padding: unset;
    }
}

/* ==== COMPONENT SPECIFIC STYLES ===== */

// styles for text-only spans
// styles for text inputs, date inputs and selects
// (moved to plugin)

// styles for buttons
button {
    @include box($width: 100%);
    @include span($margin: 12.5px 2px 0px 2px);

    // styles overrides
    border: 2px groove rgb(192, 192, 192);
    cursor: pointer;
    &:hover {
        background-color: gainsboro;
    }
}

// set font for date select popup
.select-date-font {
    * {
        font-family: "Quicksand", sans-serif;
    }
}