@charset "utf-8";

@import "mixins";

// import datepicker styles
@import "../../node_modules/react-datepicker/src/stylesheets/datepicker.scss";

body {
    width: 1240px;
    // remove default margin
    margin: 0 calc((100% - 1240px) / 2);

    // enable vertical scrolling when footer overlays page contents ...
    > #root > div:first-of-type {
        margin-bottom: 100px;
    }
}

/* ========== GENERAL STYLES ========== */

header {
    // content layout management
    @include flex($align: center, $justify: center);
    @include box($width: 100%);

    h1 {
        // content layout management
        @include flex($direction: row, $align: center);
        @include box();
        > a {
            // style overrides
            font-size: $font_xlarge;
            font-family: 'Fredoka One', cursive;
            text-decoration: none;
            color: unset;
        }
    }

    nav {
        width: 100%;

        ul {
            // content layout management
            @include flex($direction: row, $align: center, $justify: flex-start);
            @include box($padding: unset);
            // style overrides
            list-style-type: none;
            padding-left: 0;
            margin: 0px;
            // ul elements
            a {
                @include box($width: inherit, $padding: 15px 30px 15px 0);
                @include span();
                // style overrides
                text-decoration: none;
                // pseudo styles
                &:hover, &:active {
                    text-decoration: underline;
                }
            }
        }
    }
}

main {
    // content layout management
    @include flex($align: flex-start, $justify: flex-start);
    @include box($width: 100%, $backcolor: whitesmoke);
}

footer {
    @include flex();
    @include box($width: 1240px, $height: 100px, $backcolor: #000000, $radius: unset);
    @include span($margin: 0px, $color: $color_font_secondary);

    // style overrides
    position: fixed;
    z-index: 1;
    bottom: 0;
}

/* ======= PAGE SPECIFIC STYLES ======= */

// employees list

div.employees-list-header, div.employees-list-footer {

    // content layout management
    @include flex($direction: row, $align: center, $justify: space-between);
    @include box($width: inherit, $padding: 2.5px, $backcolor: inherit);

}

div.employees-list-footer {
    > span:nth-of-type(1) {
        // style overrides
        padding-left: 0px;
        font-size: $font_medium;
    }

    > span:nth-of-type(2) {
        // style overrides
        @include flex($direction: row, $justify: flex-end);
        padding: 7.5px;
        padding-right: 0px;
        width: 10%;
        font-size: $font_medium;

        // clickable icons
        > i {
            margin-left: 15px;
            cursor: pointer;
        }
    }
}

ul.employees-list {
    // content layout management
    @include flex($align: center);
    @include box($width: inherit, $padding: 0px);

    // style overrides
    list-style-type: none;

    > li {
        // content layout management
        @include flex($direction: row, $align: center, $justify: space-around);
        @include box($width: inherit, $padding: 0px);

        // columns headers
        > span {
            @include flex($direction: row);
            @include span($margin: 2.5px, $size: $font_small);
            @include box($width: 11.11%, $radius: unset);
        }

        // column sizing ...
        /*
        > span:nth-child(6) { width: 12.5%; }
        > span:nth-child(9) { width: 7.5%; }
        */
    }

    // table headers
    > li:first-child {

        // columns headers
        > span {
            // style overrides
            justify-content: space-between;
            height: 50px;
            padding: 7.5px;
            background-color: black;
            color: white;
            font-weight: bold;
            // clickable header
            > div:nth-child(1) {
                cursor: pointer;
            }
        }

    }

    // table rows
    > li:not(:first-child) {

        // cells values
        > span {
            // style overrides            
            justify-content: flex-start;
            height: 25px;
            padding: unset;
            color: black;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }
}

// new employee form

form {
    @include flex($direction: row, $align: flex-start, $justify: space-between);
    @include box($width: 100%, $height: 100%, $padding: unset, $backcolor: inherit);

    // form section
    .form-fields {
        @include flex($align: flex-start);
        @include box($width: 100%);

        // align fields and labels
        > div {
            @include flex($align: flex-start);
        }
    }

    > div:nth-of-type(1) {
        // styles overrides
        width: calc(50% - 7.5px);
        border: 2px groove rgb(192, 192, 192);
    }

    > div:nth-of-type(2) {
        // styles overrides
        width: calc(50% - 7.5px);
        padding: unset;
    }

    button {
        @include box($width: 100%);
        @include span($margin: 12.5px 2px 0px 2px);

        // styles overrides
        border: 2px groove rgb(192, 192, 192);
        cursor: pointer;
        &:hover {
            background-color: gainsboro;
        }
    }
}

/* ==== COMPONENT SPECIFIC STYLES ===== */

// styles for text-only spans
span.basic-styled {
    @include box($height: 38px, $padding: 7.5px, $backcolor: inherit);
    @include span($margin: unset, $size: $font_small);
}

// styles for text inputs, date inputs and selects
span.input-styled {
    @include box($padding: unset);
    @include span($margin: unset, $size: $font_small);

    > input {
        @include box($height: 38px, $padding: 7.5px, $backcolor: hsl(0, 0%, 100%), $radius: 5px);
        @include span($margin: unset, $size: $font_small);
        border: 1px solid hsl(0, 0%, 80%);
    }
}